<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script crossorigin src="<%= htmlWebpackPlugin.options.react %>"></script>
    <script
      crossorigin
      src="<%= htmlWebpackPlugin.options.reactDom %>"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/i18next@19.6.3/dist/umd/i18next.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/i18next@19.6.3/dist/umd/i18next.js"
    ></script>
    <script crossorigin src="<%= htmlWebpackPlugin.options.redux %>"></script>
    <title>Cubbit</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
